 @tailwind base;
 @tailwind components;
 @tailwind utilities;

 @page {
   size: 210mm 297mm;
   margin: 0;
 }

 /* 
@media print {
  #resume-content {
    width: 210mm !important;
    height: 297mm !important;
    margin: 0 !important;
    padding: 15mm !important;
    transform: none !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
} */
 @media print {
   #resume-content {
     height: 1123px;
     /* Exact A4 height in px */
     width: 794px;
     /* Exact A4 width in px */
     margin: 0 !important;
     padding: 0 !important;
     overflow: hidden !important;
     page-break-before: avoid !important;
     page-break-after: avoid !important;
     page-break-inside: avoid !important;
   }

   .MuiChip-root {
     display: inline-flex !important;
     align-items: center !important;
     justify-content: center !important;
     height: 28px !important;
     padding: 0 !important;
     box-sizing: border-box !important;
   }

   .MuiChip-label {
     padding: 0 12px !important;
     line-height: 28px !important;
     display: inline-flex !important;
     align-items: center !important;
     justify-content: center !important;
     white-space: nowrap !important;
   }
 }